{% extends "Layout/default.html" %}
{% block title %}
{{parent()}}
Get Information About Country
{% endblock %}
{% block head %}
{{ parent() }}

{% endblock %}
{% block content %}
{% include( "Elements/flash.html") %}
<div class="input-group">
    <input type="text" class="form-control" id="search_countries" placeholder="Search with a Country name">
</div>
<div id="show_details" class="row mt-5" style="display: none;">
    <div class="col-6">
        <img id="country_image" class="img-fluid">
    </div>
    <div class="col-6 d-flex align-self-center">
        <div class="" id="show_description">

        </div>

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js" crossorigin="anonymous"></script>
<script src="../../assets/js/typeahead_countires.js"></script>
<link rel="stylesheet" href="../../assets/css/typeahead_custom.css"/>


{% endblock %}